# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
*.egg-info/
dist/
build/
eggs/
*.egg

# Config files
*.env
*.local

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints